/* font Roboto and Rosario */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rosario&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
}

li {
  font-size: 2rem;
  text-align: center;
}

body {
  background-color: #e4e6fe;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main {
  width: 70%;
  height: 90vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 3rem;
  border: 3px solid #3a50da;
  background-color: #eeeffb;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body main {
    width: 85%;
  }
}

body main .display-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

body main .display-column .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .display-column .navbar-list .list-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body main .display-column .navbar-list .list-section #menu-toggle-size img {
    display: none;
  }
}

body main .display-column .image {
  background-image: url("../../images/wallpaperflare.com_wallpaper.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 260px;
  border-radius: 2rem;
  -webkit-box-shadow: 3px 3px 30px 20px #e4e6fe;
          box-shadow: 3px 3px 30px 20px #e4e6fe;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body main .display-column .image {
    height: 160px;
    -webkit-box-shadow: 3px 3px 15px 5px #e4e6fe;
            box-shadow: 3px 3px 15px 5px #e4e6fe;
  }
}

body main .display-column .image .sec-left {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body main .display-column .image .sec-left {
    left: 2rem;
  }
}

body main .display-column .image .sec-left .image-sun {
  position: absolute;
  margin-top: -3rem;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body main .display-column .image .sec-left .image-sun {
    width: 6rem;
    margin-top: -1rem;
  }
}

body main .display-column .image .sec-left h1 {
  color: white;
  font-size: 10rem;
  margin-top: 4.2rem;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body main .display-column .image .sec-left h1 {
    font-size: 4rem;
  }
}

body main .display-column .image .sec-left p {
  color: white;
  font-size: 4rem;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body main .display-column .image .sec-left p {
    font-size: 2rem;
  }
}

body main .display-column .image .sec-right {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body main .display-column .image .sec-right {
    bottom: 1.1rem;
    right: 2rem;
  }
}

body main .display-column .image .sec-right h4 {
  color: white;
  font-size: 3rem;
  margin-top: 6rem;
  text-align: right;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body main .display-column .image .sec-right h4 {
    font-size: 2rem;
  }
}

body main .display-column .image .sec-right #descWeather {
  font-size: 2.5rem;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body main .display-column .image .sec-right #descWeather {
    font-size: 1.3rem;
    color: white;
  }
}

body main .display-column .image .sec-right #dayName {
  display: unset;
  font-size: 2.5rem;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body main .display-column .image .sec-right #dayName {
    display: none;
    color: white;
  }
}

body main .display-column .bottom-sec {
  border-radius: 10px;
  margin-top: 5rem;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body main .display-column .bottom-sec {
    display: block;
    margin-top: 2rem;
  }
}

body main .display-column .bottom-sec .left-sec {
  border-radius: 10px;
  width: 37%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body main .display-column .bottom-sec .left-sec {
    width: 100%;
    display: unset;
  }
}

body main .display-column .bottom-sec .left-sec .left-sec-top {
  border-radius: 10px;
  width: 100%;
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 2.5rem;
  border: 2px solid #ccc;
  background-color: white;
}

body main .display-column .bottom-sec .left-sec .left-sec-top .left-sec-top-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .display-column .bottom-sec .left-sec .left-sec-top .left-sec-top-top .sec-icon-and-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .display-column .bottom-sec .left-sec .left-sec-top .left-sec-top-top .sec-icon-and-desc .icon-desc {
  margin-left: 1.5rem;
}

body main .display-column .bottom-sec .left-sec .left-sec-top .left-sec-top-top .sec-icon-and-desc .icon-desc p {
  font-size: 1.2rem;
  margin-top: 0.3rem;
}

body main .display-column .bottom-sec .left-sec .left-sec-top .left-sec-top-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .display-column .bottom-sec .left-sec .left-sec-top .left-sec-top-bottom .sec-icon-and-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .display-column .bottom-sec .left-sec .left-sec-top .left-sec-top-bottom .sec-icon-and-desc .icon-desc {
  margin-left: 1.5rem;
}

body main .display-column .bottom-sec .left-sec .left-sec-top .left-sec-top-bottom .sec-icon-and-desc .icon-desc p {
  font-size: 1.2rem;
  margin-top: 0.3rem;
}

body main .display-column .bottom-sec .left-sec .left-sec-bottom {
  border-radius: 10px;
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 2.2rem;
  -webkit-box-shadow: 3px 3px 30px 20px #e4e6fe;
          box-shadow: 3px 3px 30px 20px #e4e6fe;
  background: -webkit-gradient(linear, right top, left top, from(#3a50da), color-stop(75%, #8290e7));
  background: linear-gradient(to left, #3a50da, #8290e7 75%);
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body main .display-column .bottom-sec .left-sec .left-sec-bottom {
    margin-top: 2rem;
    -webkit-box-shadow: 3px 3px 15px 5px #e4e6fe;
            box-shadow: 3px 3px 15px 5px #e4e6fe;
  }
}

body main .display-column .bottom-sec .left-sec .left-sec-bottom .left-sec-bottom-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body main .display-column .bottom-sec .left-sec .left-sec-bottom .left-sec-bottom-1 h2 {
  font-size: 1.8rem;
}

body main .display-column .bottom-sec .left-sec .left-sec-bottom .left-sec-bottom-1 p {
  font-size: 1.6rem;
}

body main .display-column .bottom-sec .right-sec {
  border-radius: 10px;
  border: 2px solid #ccc;
  width: 58%;
  height: 250px;
  background-color: white;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body main .display-column .bottom-sec .right-sec {
    width: 100%;
    margin-top: 2rem;
    height: 165px;
  }
}

body main .display-column .bottom-sec .right-sec .sec-weather-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 12vh;
}

body main .display-column .bottom-sec .right-sec .sec-weather-days .sec-weather-days-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .display-column .bottom-sec .right-sec .sec-weather-days .sec-weather-days-div .filter-color-icon {
  -webkit-filter: invert(52%) sepia(27%) saturate(3976%) hue-rotate(193deg) brightness(90%) contrast(101%);
          filter: invert(52%) sepia(27%) saturate(3976%) hue-rotate(193deg) brightness(90%) contrast(101%);
}

body main .display-column .bottom-sec .right-sec .sec-weather-days .hr {
  width: 2px;
  height: 70%;
  margin-top: 1.5rem;
  background-color: #ccc;
}

.input-list {
  margin-right: 4rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0.5rem;
  border-radius: 0.8rem;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .input-list {
    margin-right: 0;
    width: 90%;
  }
}

.input-list input {
  outline: none;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: 0;
  width: 80%;
}

.input-list span {
  cursor: pointer;
  color: #a8aabc;
  font-size: 1.8rem;
}

.input-list .search::before {
  content: "\f002";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
}
/*# sourceMappingURL=styles.css.map */